<div class="container" style=" height: 100vh">
	<mat-toolbar>
		<span>Person Registration</span>
	</mat-toolbar>

	<div style="margin-top: 100px; width: 100vw; display: flex; flex-direction: column; align-items: center;">
		<mat-card>
			<mat-card-content>
				<div style="max-width: 700px">
					<form [formGroup]="personForm" (ngSubmit)="saveDialog(saveDialogRef)" #formDir="ngForm">
						<mat-form-field appearance="outline" style="width: 100%">
							<mat-label>Name</mat-label>
							<input matInput
										 placeholder="Full name"
										 formControlName="name"
										 required>
						</mat-form-field>

						<mat-form-field appearance="outline" style="width: 100%">
							<mat-label>E-mail</mat-label>
							<input matInput formControlName="email" type="email" required>
						</mat-form-field>

						<mat-form-field appearance="outline" style="width: 100%">
							<mat-label>Phone</mat-label>
							<input matInput formControlName="phone" type="tel" required placeholder="+99 (99) 99999-9999" mask="+00 (00) 00000-0000" [dropSpecialCharacters]="false">
						</mat-form-field>

						<mat-form-field appearance="outline" style="width: 100%">
							<mat-label>Profession</mat-label>
							<input matInput formControlName="profession" type="text" required>
						</mat-form-field>

						<button mat-raised-button type="submit" color="primary" style="width: 100%">Save</button>
						<button mat-raised-button type="button" color="warn" style="margin-top: 20px; width: 100%" (click)="back()">Close</button>
					</form>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>

<ng-template #saveDialogRef>
	<h2 mat-dialog-title>Person</h2>
	<mat-dialog-content>Do you really want to save?</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-dialog-close (click)="save()">Save</button>
		<button mat-button mat-dialog-close>Close</button>
	</mat-dialog-actions>
</ng-template>
